RewriteEngine On
RewriteBase /

# Si el archivo o directorio no existe, pasa todo por index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

Options -Indexes
